/*BODY*/
body
{
    margin: 0; 
    padding: 0;
}

/*HEADER*/
#menuZone
{
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
    vertical-align: middle; 
    background-color: rgb(199, 199, 199); 
    width: 80%; height: 50px; 
    border: 02px black solid;
}

/*MAIN*/

table
{
    border-collapse: collapse;
    width: 80%; margin-left: auto; 
    margin-right: auto;
}

thead
{
    border: none; 
    border-bottom: 2px grey solid;
}

tr
{
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none; 
    border-bottom: 1px grey solid;
}

td
{
    padding-bottom: 5px; 
    padding-top: 5px;
}

#return
{
    text-align: center;
    margin-left: 100px;
}

/*FOOTER*/

footer
{
    text-align: center;
}