img
{
    padding: 20px;
}

h1
{
    color: white;
    margin: 0px;
    padding: 30px;
    background-color: #444444;
}

.button
{
    background-color: #44433f;
    color: white;
    cursor: pointer;
}

.button:hover
{
    background-color: darkgrey;
}