/* ======== Body ========= */
body
{
    margin: 0;
    font-family: arial, Verdana;
}

/* Center something and reduce the width */
.center
{
    max-width: 800px;
    margin: 0 auto;
}

/* Set the style of all of the source text*/
.source
{
    padding: 0px 10px 10px 0px;
    text-align: right;
}

/* ======== Header ========= */
header
{
    background-color: #444444;
    width: 100%;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* ======== Main ========= */
main
{
    
}

/* Article */
.article 
{
    background-color: #EEEEEE;
}

/* all section of the elements which contains article class */
.article > section
{

}

/* Set the color, background and padding of the titles of all articles */
.article > section > h3
{
    background-color: #444444;
    color: #FFFFFF;
    padding: 10px;
}

/* Set the style of the image of all articles */
.article > section > img
{
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    float: left;
}

/* Set the style of the text of all the articles */
.article > section > aside
{
    padding: 0px 10px 0px 10px;
}

/* Set the style of the source links */
.source > a
{
    text-decoration: none;
    color: #444;
}

/* ======== Footer ========= */
footer
{
}

/* Set the background color of the conclusion */
#conclusion
{
    background-color: #EEEEEE;
}

/* Set the style of the text of the conclusion */
#conclusion > p
{
    text-align: left; 
    padding: 10px;
}

/* Set the style of the end banner */
#endBanner
{
    margin-top: 15px;
    background-color: #444444;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0px;
}